<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout" lang="en">
<head>
<title>LOGIN</title>
</head>
<body>
    <div layout:fragment="content">

        <form class="form-signin" th:action="@{/login}" th:object="${user}" action="/login" method="post">
            <h2 class="form-signin-heading text-center">Sign in</h2>
            
            <div class="alert alert-danger" th:if="${param.error}">
                Email and password is incorrect or your account is not activated, please try again.
            </div>
             <p><span class="fa fa-user" style="font-size:24px"> </span> Enter UserName:</p>
            <input type="text" id="inputEmail" name="username" class="form-control" placeholder="" required="required" autofocus="autofocus"/>
            <p><span class="fa fa-lock" style="font-size:24px"> </span> Enter Password:</p>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="" required="required"/>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember-me"/> Remember me
                </label>
            </div>
            <p >Not a Member <span class="fa fa-user-plus" style="font-size: 20px"><a th:href="@{/user/register}" href="register">Sign up</a></span> here</p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>


    </div>
</body>
</html>